{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Description3</th>
                <td>{{ recette.description3 }}</td>
            </tr>
            <tr>
                <th>Fiche</th>
                <td>{{ recette.fiche }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ recette.avatar }}</td>
            </tr>
        </tbody>
    </table> #}
    <div class= "d-flex text-light">{{ recette.fiche }}</div>
    
    <div class= "d-flex justify-content-between">
   
                       <span>{% for categorie in recette.categories %}
                       <a href="{{ path('app_categorie_index') }}">{{ categorie.description2 }}</a>
                       {% endfor %}
                    </span>
                     <span class="text-light">Préparation:120 minutes</span>
                     </div>
                   
   <div class= "d-flex justify-content-between text-light"><span class="d-flex text-light border border-primary col-8 p-5">{{ recette.description4 }}</span> 
  
   <span class="text-light">Cuisson:120 minutes</span>
   </div>
<div class="d-flex text-light justify-content-end">
<ul>
                        {% for note in recette.notes %}
                        <li class="text-light">{{ note.note }} / 5</li>
                        {% endfor %}
                    </ul></div>
<h1 class="text-light">Commentaires</h1>
<div class= "d-flex text-light"> <ul>{% for note in recette.notes %}
<li class="text-light">{{ note.description1 }}</li>
 {% endfor %}
</ul>

</div>
    <a href="{{ path('app_recette_index') }}">back to list</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
